@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: Roboto;
}

.header {
  background-color: #8e44ad;
  color: #ecf0f1;
  padding: 15px;
  padding-left: 50px;
  font-size: 25px;
}

.view {
  padding-top: 30px;
  padding-left: 50px;
}

h1 {
  font-size: 25px;
}
